html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
  --page-color: #F1F1F1;
  --tour-color: #E9E9E9;
  --color-black: #000;
  --color-light-black: #333;
  --color-white: #FFF;
  --color-yellow: #FFCC66;
  --color-dark-yellow: #CC9933;
  --color-brown: #A47312;
  --color-grey: #666;
  --color-light-grey: #999;
  --color-border-line: #E1E1E1;
  --color-input-underline: #CCC;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
       url('../fonts/MullerBold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
       url('../fonts/MullerRegular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
       url('../fonts/MullerMedium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  font-family: 'Muller', Verdana, sans-serif;
  font-weight: 400;
  background-color: var(--page-color);
  overflow-wrap: break-word;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  position: relative;
  padding: 0;
  border: 1px solid var(--color-dark-yellow);
  border-radius: 10px;
  color: var(--color-dark-yellow);
  background-color: transparent;
  cursor: pointer;
  transition: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.button:focus {
  color: var(--color-white);
  background-color: var(--color-dark-yellow);
  outline: none;
}

.button:hover {
  color: var(--color-white);
  background-color: var(--color-dark-yellow);
}

.button:active {
  color: var(--color-white);
  background-color: var(--color-brown);
}

.flex {
  display: flex;
}

/* сокращает большой текст и ставит в конце многоточие */
/* .ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-offset {
  margin-bottom: 70px;
}

/* header */

.header {
  margin-bottom: 70px;
  padding-top: 30px;
}

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header-logo {
  margin-right: 40px;
}

.header-link-tel {
  margin-right: 548px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-grey);
  transition: color, outline;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header-link-tel:focus {
  color: var(--color-dark-yellow);
  outline: 1px solid var(--color-dark-yellow);
  outline-offset: 4px;
}

.header-link-tel:hover {
  color: var(--color-dark-yellow);
}

.header-link-tel:active {
  color: var(--color-brown);
  outline: none;
}

.header-link-text {
  padding-left: 7px;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-dark-yellow);
  transition: color, outline;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header-link-enter {
  transition: color, outline;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header-link-enter:focus {
  color: var(--color-dark-yellow);
  outline: 1px solid var(--color-dark-yellow);
  outline-offset: 4px;
}

.header-link-enter:hover .header-link-text {
  color: var(--color-yellow);
}

.header-link-enter-icon path {
  transition: fill;
  transition-duration: .4s;
  transition-timing-function: ease;
}

.header-link-enter:hover .header-link-enter-icon path {
  fill: var(--color-yellow);
}

.header-link-enter:active {
  outline: none;
}

.header-link-enter:active .header-link-text {
  color: var(--color-brown);
}

.header-link-enter:active .header-link-enter-icon path {
  fill: var(--color-brown);
}

.header-bottom {
  display: flex;
  align-items: center;
  padding: 10px 45px;
  border-radius: 15px;
  background-color: var(--color-white);
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  color: var(--color-light-black);
}

.vissually-hidden {
  display: none;
}

.header-nav {
  display: inline-flex;
  height: 100%;
  margin-right: 57px;
  padding: 17px 46px 17px 0px;
  border-right: 1px solid var(--color-border-line);
  color: var(--color-grey);
}

.header-list {
  justify-content: space-between;
  align-items: center;
  width: 640px;
}

.header-item {
  max-width: 120px;
}

.header-link {
  transition: color, outline;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header-link:focus {
  color: var(--color-dark-yellow);
  outline: 1px solid var(--color-dark-yellow);
  outline-offset: 7px;
}

.header-link:hover {
  color: var(--color-dark-yellow);
}

.header-link:active {
  color: var(--color-brown);
  outline: none;
}

.header-button {
  max-width: 180px;
  margin-right: 40px;
  padding: 13px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.header-button:last-child {
  margin: 0;
}

/* special */

.special-block {
  flex-direction: column;
  margin: 0;
  width: calc((100% - 23px) / 2);
}

.special-block:not(:last-child) {
  margin-right: 23px;
}

.special-item {
  position: relative;
  flex: 1;
  margin-bottom: 23px;
  padding: 40px;
  border-radius: 15px;
  color: var(--color-white);
  background-repeat: no-repeat;
  background-size: cover;
}

.special-item:last-child {
  margin: 0;
}

.special-img1 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("..//img/special1.png");
}

.special-img2 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("..//img/special2.png");
}

.item-right {
  flex-direction: column;
  justify-content: flex-end;
  min-height: 540px;
  background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("..//img/special3.png");
}

.special-item-title {
  max-width: 299px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.title-right {
  font-size: 60px;
  line-height: 60px;
}

.special-item-sum {
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  opacity: 80%;
}

.sum3 {
  font-size: 30px;
  line-height: 30px;
}

.special-item-link {
  align-items: center;
}

.special-link-text {
  max-width: 480px;
  padding-right: 7px;
  color: var(--color-yellow);
  font-size: 16px;
  line-height: 16px;
  transition: color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.special-item-link::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: outline;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.special-item-link:focus::before {
  outline: 1px solid var(--color-dark-yellow);
  outline-offset: 7px;
}

.special-item-link:focus {
  outline: none;
}

.special-link-icon {
  transition: transform;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.special-item-link:hover .special-link-icon {
  transform: translateX(8px);
}

.special-item-link:active::before {
  outline: none;
}

.special-item-link:active .special-link-text  {
  color: var(--color-white);
}


/* info */

.info-text {
  max-width: 888px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* serv */

.serv {
  margin-bottom: 47px;
}

.serv-list {
  flex-wrap: wrap;
}

.serv-item {
  position: relative;
  flex-direction: column;
  width: calc((100% - 23px) / 2);
  margin-right: 23px;
  margin-bottom: 23px;
  padding: 191px 45px 50px;
  border-radius: 15px;
  background-color: var(--color-white);
  background-repeat: no-repeat;
  background-size: contain;
}

.serv-item:nth-child(2n) {
  margin-right: 0;
}

.serv-img1 {
  background-image: url(..//img/serv1.jpg);
}

.serv-img2 {
  background-image: url(..//img/serv2.jpg);
}

.serv-img3 {
  background-image: url(..//img/serv3.jpg);
}

.serv-img4 {
  background-image: url(..//img/serv4.jpg);
}

.serv-item-title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}

.serv-item-link {
  display: inline-block;
  max-width: 100%;
}

.serv-link-text {
  max-width: 470px;
  align-items: center;
  color: var(--color-dark-yellow);
  cursor: pointer;
  transition: color, padding;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.serv-item-link::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: 1px solid var(--color-dark-yellow);
  outline-offset: 7px;
  opacity: 0;
  z-index: -1;
  transition: opacity;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.serv-link-icon path {
  transition: stroke, transform;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.serv-item-link:focus::before {
  opacity: 1;
}

.serv-item-link:focus {
  outline: none;
}

.serv-link-text:hover {
  color: var(--color-yellow);

}

.serv-link-text:hover .serv-link-icon path {
  stroke: var(--color-yellow);
  transform: translateX(8px);
}

.serv-item-link:active::before {
  opacity: 0;
}

.serv-link-text:active {
  color: var(--color-brown);
}

.serv-link-text:active .serv-link-icon path {
  stroke: var(--color-brown);
}

.serv-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* benefits */

.benefits {
  margin-bottom: 47px;
}

.benefits-title {
  margin-bottom: 30px;
}

.benefits-list {
  flex-wrap: wrap;
}

.benefits-item {
  max-width: 275px;
  margin-right: 23px;
  margin-bottom: 23px;
  padding: 116px 42px 41px 45px;
  border-radius: 15px;
  background-color: var(--color-white);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left 45px top 40px;
}

.benefits-item:nth-child(4n) {
  margin-right: 0;
}

.benefits-img1 {
  background-image: url(../img/benefit1.png);
}

.benefits-img2 {
  background-image: url(../img/benefit2.png);
}

.benefits-img3 {
  background-image: url(../img/benefit3.png);
}

.benefits-img4 {
  background-image: url(../img/benefit4.png);
}

.benefits-img5 {
  background-image: url(../img/benefit5.png);
}

.benefits-img6 {
  background-image: url(../img/benefit6.png);
}

.benefits-img7 {
  background-image: url(../img/benefit7.png);
}

.benefits-img8 {
  background-image: url(../img/benefit8.png);
}

.benefits-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* place */

.place-title {
  margin-bottom: 30px;
}

.place-list {
  flex-wrap: wrap;
}

.place-item {
  max-width: 374px;
  margin-right: 23px;
  margin-right: 23px;
  margin-bottom: 23px;
  border-radius: 15px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: var(--color-white);
}

.place-item:nth-child(3n) {
  margin-right: 0;
}

.place-item:nth-child(3n + 3) {
  margin-right: 0;
}

.place-article-descr {
  padding: 36px 46px 41px 45px;
}

.place-article-price {
  margin-right: 40px;
}

.place-article-par {
  margin-bottom: 16px;
}

.text1 {
  margin-right: 4px;
  color: var(--color-light-grey);
}

.text2 {
  margin-right: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.place-article-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
}

.place-article-loc {
  margin-bottom: 20px;
  color: var(--color-light-grey);
}

.place-article-button {
  max-width: 283px;
  padding: 13px 20px;
}

.extra-item {
  position: relative;
  align-items: flex-end;
  width: auto;
  background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/place9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.place-item-link::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
}

.place-item-link {
  align-items: center;
  padding: 27px 53px;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: var(--color-white);
  transition: color, padding;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.place-item-link:focus {
  outline: none;
  color: var(--color-dark-yellow);
}

.place-link-icon {
  transition: transform, stroke;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.place-link-icon path {
  transition: stroke;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.place-item-link:focus .place-link-icon path {
  stroke: var(--color-dark-yellow);
}

.place-item-link:hover .place-link-icon {
  transform: translateX(8px);
}

.place-item-link:active {
  color: var(--color-brown);
}

.place-item-link:active .place-link-icon path {
  stroke: var(--color-brown);
}

.place-link-text {
  padding-right: 7px;
}

/* tour */

.tour-content {
  min-height: 274px;
  padding-top: 38px;
  padding-bottom: 71px;
  background-color: var(--tour-color);
  border-radius: 15px;
}

.tour-title {
  color: var(--color-black);
}

.tour-form {
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  padding: 28px 28px;
  border-radius: 15px;
  background-color: var(--color-white);
}

.tour-form-item {
  border-right: 1px solid var(--color-border-line);
  margin-right: 20px;
  padding-right: 20px;
}

.form-legend {
  display: block;
  max-width: 100%;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.item-select {
  width: 189px;
}

.item-number {
  width: 140px;
}

.form-part {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border: none;
  background-color: transparent;
}

.form-input-date {
  width: 126px;
  cursor: pointer;
}

.form-input-date[type=date]::-webkit-calendar-picker-indicator {
  margin: 0;
}

.form-input-number {
  width: 120px;
  border-bottom: 1px solid var(--color-input-underline);
  cursor: pointer;
}

.form-select {
  width: 169px;
  cursor: pointer;
}

.tour-form-button {
  max-width: 110px;
  padding: 13px 30px;
}

/* contacts */

.contacts {
  margin-bottom: 19px;
}

.contacts-title {
  margin-bottom: 26px;
}

.contacts-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 44px 44px 46px 46px;
  border-radius: 15px;
  background-color: var(--color-white);
  background-image: url(../img/contacts-foto.jpg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center right 44px;
}

.contacts-list {
  flex-direction: column;
}

.contacts-item-title {
  width: 98px;
  margin-right: 47px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.contacts-item {
  max-width: 375px;
  margin-bottom: 25px;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--color-border-line);
}

.contacts-item:last-child {
  margin-bottom: 45px;
}

.contacts-button {
  max-width: 375px;
  padding: 27px 29px;
  font-weight: 700;
  line-height: 16px;
}

.contacts-item-right {
  flex-direction: column;
  max-width: 228px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.contacts-item-link {
  color: var(--color-dark-yellow);
  margin-bottom: 2px;
  transition: color, outline;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.contacts-item-link:focus {
  max-width: 158px;
  color: var(--color-dark-yellow);
  outline: 1px solid var(--color-dark-yellow);
  outline-offset: 2px;
}

.contacts-item-link:hover {
  color: var(--color-yellow);
}

.contacts-item-link:active {
  color: var(--color-brown);
  outline: none;
}

.contacts-link-text {
  color: var(--color-light-grey);
}

/* footer */

.footer {
  margin-bottom: 20px;
}

.footer-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 44px 52px;
  border-radius: 15px;
  color: var(--color-white);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--color-light-black);
  background-image: url(../img/footer-logo.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 175px bottom 0;
}

.footer-left {
  flex-direction: column;
  max-width: 320px;
  margin-right: 102px;
}

.footer-left-text {
  margin-bottom: 40px;
  line-height: 30px;
}

.footer-left-link {
  color: var(--color-dark-yellow);
  transition: color, outline;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.footer-left-link:focus {
  max-width: 250px;
  color: var(--color-dark-yellow);
  outline: 1px solid var(--color-dark-yellow);
  outline-offset: 4px;
}

.footer-left-link:hover {
  color: var(--color-yellow);
}

.footer-left-link:active {
  color: var(--color-brown);
  outline: none;
}

.footer-center {
  flex-direction: column;
  max-width: 358px;
  margin-right: 260px;
  padding-top: 2px;
}

.footer-center-text {
  margin-bottom: 14px;
}

.footer-tel {
  margin-bottom: 15px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 205px;
  padding-top: 2px;
}

.footer-right-link {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: outline, color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.footer-right-link:focus .footer-right-link-icon path {
  fill: var(--color-dark-yellow);
}

.footer-right-link:focus {
  outline: none;
}

.footer-right-link:hover .footer-right-link-icon path{
  fill: var(--color-dark-yellow);
}

.footer-right-link:active .footer-right-link-icon path {
  fill: var(--color-brown);
}
